html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  color: #466d6d;
}

#grad {
  background: #0a1010; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #283e3e, #0a1010); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #283e3e, #0a1010); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #283e3e, #0a1010); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #283e3e, #0a1010); /* Standard syntax */
  background-attachment: fixed;
}

#fnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(51,51,51,0.9);
  position: fixed;
  top: 0;
  width: 100%;
}

#fnavli {
  float: left;
}

#fnavli a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.5s;
}

#fnavli a:hover:not(.active), .dropdown:hover .dropbtn {
  background-color: rgba(17,17,17,0.6);
  /*transition: 1s;*/
}

.active {
  background-color: rgba(71,107,107,0.6);
}


.dropdown {
  display: inline-block;
  transition: 0.3s;
}
.dropdown:hover {
  /*min-width:160px;
  display:inline-block;*/
}

#container {
  width:120px; /*bad non-relative code :( */
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;

}


#container:hover {
  width:240px; /*bad non-relative code :( */
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;

}


.dropdown-content {
  position: fixed;
  width:240px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 0px 0px 7px 7px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  background-color: rgba(51,51,51,0.9);
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a#btm {
  border-radius: 0px 0px 7px 7px;
}

.dropdown-content a:hover {
  background-color: rgba(17,17,17,0.9) !important;
}


.test:hover .makeinv {
  visibility: visible;
  /*opacity: 1;*/
}

.test .makeinv {
  visibility: hidden;

}

#notnav {
  /*padding: 20px;*/
  margin-top:30px;
  height: 100%;
}

#article {
  margin-left: auto;
  margin-right: auto;
  margin-top:46px;
  margin-bottom:25px;
  border-radius: 5px 5px 10px 10px;
  
  max-width: 800px;
  padding: 20px;
  /*border-style: outset;*/
  box-shadow: 2px 2px 2px 2px #0d0d0d;
  background-color: #F8EDD8;/* #e0ebeb;*/
}

h1 {
   font-size: 3.6em; /*46px;*/
   color: #533F19;/*#324e4e;*/
   text-align: center;
   /*text-transform: uppercase;*/
   font-weight: 900;
   line-height 1.1;
   margin-bottom:10px;
}

h2 {
   font-size: 2.0em; /*46px;*/
   color: #533F19;/*#304e4e;*/
   text-align: center;
   /*text-transform: uppercase;*/
   font-weight: 400;
   line-height 1.1;
   margin-bottom:10px;
}

p {
  /*font-family: "Times New Roman";*/
  font-size: 20px;
}

.contact a {
  color: #264d4d;
  font-size: 26px;
  text-decoration: none;
}

.caption {
  text-align: center;
}

iframe {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

div.polaroid {
  width: 30%;
  height: auto;
  background-color: #fffcf7;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  /*margin-bottom: 25px;*/
  /*margin: 10px;*/
  float: left;
  border-radius: 4%;
}

div.polaroid img {
  width:100%;
  border-top-right-radius: 4%;
  border-top-left-radius: 4%;
  /*margin: 2%;*/
}

div.polaroid p {
  font-size: 12px;
  text-align: center;
}

footer {
  color: #a3bdbd;/* #536d6d; */
  background:#132d2d;
  opacity: 0.5;
  text-align: center;
  float: bottom;
  position:fixed;
  bottom: 0;
  width:100%;
  height:20px;
  padding-top:4px;
}

/* ********************
   * Visiblility      *
   ******************** */

.test:hover .visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s linear;
}
.test .visible {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.3s, opacity 0.3s linear;
}